<div>
  <form action="" method="post">
    <div>
      <div>
        <label for="name" name="categoryName">Name: </label>
        <input
          placeholder="Name of category"
          id="name"
          name="name"
          type="text"
          required="true"
          value="<% if (typeof category =="undefined") { %><% } else { %><%=category.name %><% } %>"
        />
        <label for="description" name="categoryDescription">Description: </label>
        <input
          placeholder="Description of category"
          id="description"
          name="description"
          type="text"
          required="true"
          value="<% if (typeof category =="undefined") { %><% } else { %><%=category.description %><% } %>"
        />
        
      </div>
    </div>

    <button type="submit" >
      Submit
    </button>
  </form>
  <% if (typeof errors != "undefined") { %> <% for(const error of errors) {%>
    <div class="error-msg"><%=error.msg %></div>
    <% } %> <% } %>
</div>